name: Import of Testim test results into Jira
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g @testim/testim-cli && testim --token "${{secrets.TESTIM_TOKEN}}" --project "${{secrets.PROJECT}}"  --grid "${{secrets.GRID}}" --reporters junit -r ~/junit.xml  --suite "${{secrets.TESTID}}" || true
#     Affordable Board
    - name: Testim-Results
      uses: ./
      env:
        EXIT_CODE_FROM_REPORT: "True"
        SLACK_CHANNEL: "${{ secrets.SLACK_QA_CHANNEL_ID }}"
        SLACK_TOKEN: "${{ secrets.SLACK_TOKEN }}"
        XUNIT_PATH: ./results.xml
    - uses: mikepenz/xray-action@v0.9.4
      with:
        username: ${{ secrets.CLIENT_ID }}
        password: ${{ secrets.CLIENT_SECRET }}
        testFormat: "junit"
        testPaths: "~/junit.xml"
#         testExecKey: "AH-242"
        testPlanKey: "XRAY-62"
        continueOnImportError: false
        projectKey: "XRAY"
