name: Import of Testim test results into Jira
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g @testim/testim-cli && testim --token "${{secrets.token}}" --project "${{secrets.project}}"  --grid "${{secrets.grid}}" --reporters junit -r ~/junit.xml  --testId "${{secrets.TESTID}}" || true
#     Affordable Board
    - uses: mikepenz/xray-action@v0.9.4
      with:
        username: ${{ secrets.CLIENT_ID }}
        password: ${{ secrets.CLIENT_SECRET }}
        testFormat: "junit"
        testPaths: "~/junit.xml"
#         testExecKey: "AH-242"
        testPlanKey: "XRAY-62"
        continueOnImportError: false
        projectKey: "XRAY"
    - name: Testim-Results
    - uses: ivanklee86/xunit-slack-reporter@v1.0.1
      env:
        EXIT_CODE_FROM_REPORT: "True"
        SLACK_CHANNEL: "${{ secrets.SLACK_QA_CHANNEL_ID }}"
        SLACK_TOKEN: "${{ secrets.SLACK_TOKEN }}"
        XUNIT_PATH: "~/junit.xml"
    # Publish Unit Test Results
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      if: always()
      with:
       files: "~/junit.xml"
#        Artifacts
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
       name: testimResults
       path: "~/junit.xml"
       retention-days: 1
