name: Import of Testim test results into Jira
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g @testim/testim-cli && testim --token "${{secrets.token}}" --project "${{secrets.project}}"  --grid "${{secrets.grid}}" --reporters junit -r "${{secrets.TESTIM__JUNIT_REPORT_PATH }}"  --testId "${{secrets.TESTID}}"|| true
#     Affordable Board
    - uses: mikepenz/xray-action@v2.3.0
      with:
        username: ${{ secrets.CLIENT_ID }}
        password: ${{ secrets.CLIENT_SECRET }}
        testFormat: "junit"
        testPaths: "${{secrets.TESTIM__JUNIT_REPORT_PATH }}"
        testExecKey: "XRAY-158"
        testPlanKey: "XRAY-62"
        continueOnImportError: false
        projectKey: "XRAY"   
    - name: Test results
      uses: rcubillo/xunit-slack-reporter
      env:
        SLACK_CHANNEL: "${{secrets.SLACK_QA_CHANNEL_ID}}"
        SLACK_TOKEN: "${{secrets.SLACK_BOT_TOKEN}}"
        XUNIT_GLOB: '**/*junit.xml'
        ONLY_NOTIFY_ON_ISSUES: "False"
#     - name: Testim-Results
#       env:
#         SLACK_BOT_TOKEN: "${{secrets.SLACK_BOT_TOKEN}}"
#       uses: pullreminders/slack-action@master
#       with:
#         args: '{\"channel\":\"C02TFU4Q4H2\",\"text\":\"TEST\"}'
    # Publish Unit Test Results
    - name: Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      if: always()
      with:
       files: "${{secrets.TESTIM__JUNIT_REPORT_PATH }}"
# #        Artifacts
#     - name: 'Upload Artifact'
#       uses: actions/upload-artifact@v2
#       with:
#        name: testimResults
#        path: "~/junit.xml"
#        retention-days: 1

#     This is working but it's importing the whole xml to slack. 
#     - uses: MeilCli/slack-upload-file@v1.4.11
#       id: message
#       with:
#           slack_token: "${{secrets.SLACK_BOT_TOKEN}}"
#           channels: "${{secrets.SLACK_QA_CHANNEL_ID}}"
#           file_path: "/home/runner/junit.xml"
#           file_name: "junit"
#           file_type: 'xml'
#           initial_comment: 'post by slack-upload-file'



