# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions..
name: Node.js CI

on:
  push:
    branches: [ trunk ]
  schedule:
   - cron: '0 6 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:   
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g @testim/testim-cli && testim --token ${{secrets.token}} --project ${{secrets.project}}  --grid ${{secrets.grid}} --reporters junit -r ~/junit.xml  --suite ${{secrets.suite_name}} || true
#     Affordable Board
    - uses: mikepenz/xray-action@v0.9.4
      with:
        username: ${{ secrets.client_id }}
        password: ${{ secrets.client_secret }}
        testFormat: "junit"
        testPaths: "~/junit.xml"
#         testExecKey: “XRAY-14”
        testPlanKey: "AH-215" 
        continueOnImportError: false
        projectKey: "AH"
#     Financials Board
    - uses: mikepenz/xray-action@v0.9.4
      with:
        username: ${{ secrets.client_id }}
        password: ${{ secrets.client_secret }}
        testFormat: "junit"
        testPaths: "~/junit.xml"
#         testExecKey: “XRAY-14”
        testPlanKey: "FIN-174" 
        continueOnImportError: false
        projectKey: "FIN"
#         Using this to avoid this action to run twice
#     Platform Board
    - uses: mikepenz/xray-action@v0.9.4
      with:
        username: ${{ secrets.client_id }}
        password: ${{ secrets.client_secret }}
        testFormat: "junit"
        testPaths: "~/junit.xml"
#         testExecKey: “XRAY-14”
        testPlanKey: "PTB-829" 
        continueOnImportError: false
        projectKey: "PTB"

