name: Import of Testim test results into Jira
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i -g @testim/testim-cli && testim --token "${{secrets.token}}" --project "${{secrets.project}}"  --grid "${{secrets.grid}}" --reporters junit -r ~/junit.xml  --testId "${{secrets.TESTID}}" || true
#     Affordable Board
#     - uses: mikepenz/xray-action@v0.9.4
#       with:
#         username: ${{ secrets.CLIENT_ID }}
#         password: ${{ secrets.CLIENT_SECRET }}
#         testFormat: "junit"
#         testPaths: "~/junit.xml"
#         testExecKey: "XRAY-158"
#         testPlanKey: "XRAY-62"
#         continueOnImportError: false
#         projectKey: "XRAY"
#     - name: Testim-Results
#       uses: ivanklee86/xunit-slack-reporter@v1.4.0
#       env:
#         EXIT_CODE_FROM_REPORT: "True"
#         ONLY_NOTIFY_ON_ISSUES : "true"
#         SLACK_CHANNEL: "${{secrets.SLACK_QA_CHANNEL_ID}}"
#         SLACK_TOKEN: "${{secrets.SLACK_BOT_TOKEN}}"
#         XUNIT_PATH: 'junit.xml'
    - name: Testim-Results
      env:
        SLACK_BOT_TOKEN: "${{secrets.SLACK_BOT_TOKEN}}"
      uses: pullreminders/slack-action@master
      with:
        args: '{\"channel\":\"C02TFU4Q4H2\",\"text\":\"TEST\"}'
#     # Publish Unit Test Results
#     - name: Publish Unit Test Results
#       uses: EnricoMi/publish-unit-test-result-action/composite@v1
#       if: always()
#       with:
#        files: /home/runner/junit.xml
# #        Artifacts
#     - name: 'Upload Artifact'
#       uses: actions/upload-artifact@v2
#       with:
#        name: testimResults
#        path: "~/junit.xml"
#        retention-days: 1
#     - name: Testim-Results
#       uses: ivanklee86/xunit-slack-reporter@v1.4.0
#       env:
#         SLACK_CHANNEL: "${{secrets.SLACK_QA_CHANNEL_ID}}"
#         SLACK_TOKEN: "${{secrets.SLACK_BOT_TOKEN}}"
#         XUNIT_GLOB: "**/*.xml"
#     - name: 'Download Artifact'
#       uses: actions/download-artifact@v2
#       with:
#        name: testimResults
#        path: ../workflows

#     - uses: MeilCli/slack-upload-file@v1.4.11
#       id: message
#       with:
#           slack_token: "${{secrets.SLACK_BOT_TOKEN}}"
#           channels: "${{secrets.SLACK_QA_CHANNEL_ID}}"
#           file_path: "/home/runner"
#           file_name: "junit"
#           file_type: 'xml'
#           initial_comment: 'post by slack-upload-file'

